// Colors
$color-slate-blue: #5861DA;
$color-free-speech-blue: #4339CA;
$color-white: #ffffff;
$color-palatinate-purple: #5A0E5A;
$color-black-russian-shadow: #1d2027;
$color-lighter-gray: #D6D6D6;


$color-black-russian: #131315;
$color-bunker: #202733;
$color-black-russian-card: #20242c;
$color-slate-grey: #929aa1;


// Fonts
$font-family-poppins: 'Poppins', sans-serif;
